<div class="card"
    [ngClass]="{
      'like': post.loveIts > 0,
      'dislike': post.loveIts < 0}">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col">
        {{ post.title }}
      </div>
      <div class="clr-col-">
        <span>{{ post.created_at | date: 'dd/MM/y, HH:mm'}}</span>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="card-text">
      {{ post.content }}
    </div>
  </div>
  <div class="card-footer">
    <div class="clr-row">
      <div class="clr-col">
        <button class="btn btn-success" (click)="onLikeIt(true)">Love It!</button>
        <button class="btn btn-danger" (click)="onLikeIt(false)">Hate It!</button>
        <button class="btn btn-secundary" (click)="onDelete()">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
      <div class="clr-col-">
        <app-like-icon [likes]="post.loveIts"></app-like-icon>
      </div>
    </div>
  </div>
</div>