div{
  display: grid;
  width: 42px;
}
div.like{
  color: #2F8400;
}
div.dislike{
  color: #C92100;
}

clr-icon{
  height: 42px;
  width: 42px;
  grid-column-start: 1;
  grid-row-start: 1;
}
span{
  font-size: 12px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 1;
}