div{
    display: grid;
}
span:first-child{
    font-size: 42px;   
    grid-column-start: 1;
    grid-row-start: 1;
}

span:last-child{
    font-size: 12px;
    font-weight: bold;
    line-height: 38px;  
    text-align: center;           
    grid-column-start: 1;
    grid-row-start: 1;
}