<div class="clr-row clr-justify-content-center">
  <div class="clr-col-auto">
    <form clrForm
        [formGroup]="postForm"
        (ngSubmit)="onCreatePost()">
      <clr-input-container>
        <label>Title</label>
        <input clrInput formControlName="title" type="text"/>
        <clr-control-error>Title required</clr-control-error>
      </clr-input-container>
      <clr-textarea-container>
        <label>Content</label>
        <textarea clrTextarea formControlName="content" rows="5"></textarea>
        <clr-control-error>Content required</clr-control-error>
      </clr-textarea-container>
      <div class="align-center">
        <button class="btn" [disabled]="postForm.invalid">Create</button>
      </div>
    </form>
  </div>
</div>